extends ./layout.pug
block contenido

  // Page Heading
  .d-sm-flex.align-items-center.justify-content-between.mb-4
    h1.h3.mb-0.text-gray-800 Consulta de las Bases de Datos
  .row
    .col-lg-12
      // Basic Card
      .card.shadow.mb-4
        .card-header.py-3
          h6.m-0.font-weight-bold.text-primary Resumen de datos de Hermes
        .card-body
          | Consulta de las bases de datos, no se muestran las tablas completas
    .col-lg-12
      // Collapsable Card Example
      .card.shadow.mb-4
        // Card Header - Accordion
        a.d-block.card-header.py-3(href='#collapseCardExample1' data-toggle='collapse' role='button' aria-expanded='true' aria-controls='collapseCardExample')
          h6.m-0.font-weight-bold.text-primary Cuentas
        // Card Content - Collapse
        #collapseCardExample1.collapse.show
          .card-body
            -var twitter = obj.twitters
            div
              table.table.table-hover
                thead
                  tr: th Cuentas en Hermes
                tbody
                  tr
                    td Usuario
                    td Contraseña
                    td Teléfono
                  each twitter in twitters
                    tr
                      td=twitter.usuario
                      td=twitter.password
                      td=twitter.telefonos_numero
    .col-lg-12
      // Collapsable Card Example
      .card.shadow.mb-4
        // Card Header - Accordion
        a.d-block.card-header.py-3(href='#collapseCardExample' data-toggle='collapse' role='button' aria-expanded='true' aria-controls='collapseCardExample')
          h6.m-0.font-weight-bold.text-primary nichos
        // Card Content - Collapse
        #collapseCardExample.collapse.show
          .card-body
            -var telefono = obj.telefonos
            div
              table.table.table-hover
                thead
                  tr: th Cuentas en Hermes
                tbody
                  tr
                    td Telefono
                    td Compañía
                  each telefono in telefonos
                    tr
                      td=telefono.numero
                      td=telefono.company
    .col-lg-12
      // Collapsable Card Example
      .card.shadow.mb-4
        // Card Header - Accordion
        a.d-block.card-header.py-3(href='#collapseCardExample' data-toggle='collapse' role='button' aria-expanded='true' aria-controls='collapseCardExample')
          h6.m-0.font-weight-bold.text-primary nichos
        // Card Content - Collapse
        #collapseCardExample.collapse.show
          .card-body
            -var nicho = obj.nichos
            div
              table.table.table-hover
                thead
                  tr: th Nichos en Hermes
                tbody
                  tr
                    td Nicho
                    td Resumen
                  each nicho in nichos
                    tr
                      td=nicho.nicho
                      td=nicho.resumen
